<footer class="footer">
    <div class="container">
        <div class="sociallinks has-text-centered copyright-text">
            <a href="https://www.facebook.com/GridlyCMS" target="_blank" rel="noopener">
                <img src="/images/icons/ic_facebook.svg" alt="Gridly Facebook" />
            </a>
            <a href="https://www.linkedin.com/showcase/gridlydb" target="_blank" rel="noopener">
                <img src="/images/icons/ic_linkedin.svg" alt="Gridly Linked In" />
            </a>
            <a href="https://twitter.com/GridlyCMS" target="_blank" rel="noopener">
                <img src="/images/icons/ic_twitter.svg" alt="Gridly Twitter" />
            </a>
            <a href="https://www.youtube.com/user/LocalizeDirect" target="_blank" rel="noopener">
                <img src="/images/icons/ic_youtube.svg" alt="Gridly YouTube" />
            </a>
            <a href="mailto:info@gridly.com" target="_blank">
                <img src="/images/icons/ic_email.svg" alt="info@gridly.com" />
            </a>
        </div>
    </div>
    <p></p>
    <div class="sub-footer">
        <div class="container has-text-centered">
            <span class="copyright-text">
                {{ i18n "footer-copyright-text" . | safeHTML}}
            </span>
        </div>
    </div>
</footer>
