<div class="social-share-buttons">
    <!-- Facebook -->
    <a class="share-btn" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener" title="share">
        <img src="/images/icons/ic_facebook_s.svg" alt="Facebook">
    </a>
    <!-- Twitter -->
    <a class="share-btn" href="https://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;" target="_blank" rel="noopener" title="share">
        <img src="/images/icons/ic_twitter_s.svg" alt="Twitter">
    </a>
    <!-- LinkedIn -->
    <a class="share-btn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}" target="_blank" rel="noopener" title="share">
        <img src="/images/icons/ic_linkedin_s.svg" alt="LinkedIn">
    </a>
</div>